.search_logo
  background: url('./../../svg/search.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)
  
.downarrow_logo
  background: url('./../../svg/angle-down.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.questionmark_logo
  background: url('./../../svg/question-circle.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.setting_logo
  background: url('./../../svg/setting.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.plus_logo
  background: url('./../../svg/plus.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.schedule_logo
  background: url('./../../svg/schedule.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.desktop_logo
  background: url('./../../svg/desktop.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.coffee_logo
  background: url('./../../svg/coffee.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.dropbox_logo
  background: url('./../../svg/dropbox.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.sanitizer-alt_logo
  background: url('./../../svg/sanitizer-alt.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.postcard_logo
  background: url('./../../svg/postcard.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.books_logo
  background: url('./../../svg/books.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.bug_logo
  background: url('./../../svg/bug.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.crockery_logo
  background: url('./../../svg/crockery.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.basketball_logo
  background: url('./../../svg/basketball.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.gift_logo
  background: url('./../../svg/gift.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.more_logo
  background: url('./../../svg/more.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)