.search_logo
  background: url('./../../svg/search.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)
  
.downarrow_logo
  background: url('./../../svg/angle-down.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.questionmark_logo
  background: url('./../../svg/question-circle.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.setting_logo
  background: url('./../../svg/setting.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)

.plus_logo
  background: url('./../../svg/plus.svg') center/cover no-repeat
  +iconSetting(18px, 0.8)